body {
    background-color: aliceblue;
    background-position: center;
    width: 45%;
    margin: auto;
}
.h1{
    color: black;
    font-family: "Calibri Light";
    font-size: 18px;
    text-align: center;
    line-height: 0.7;
}


.mainpic{
    width: 70%;
    display: block;
    margin: 0 auto;

}

.text1
{
    color: black;
    font-family: "Calibri Light";
    font-size: 18px;
    text-align: left;
    padding: 1.5% 4% 1.5% 4%;
}
.pic2
{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0 ;
}
.text2{
    color: black;
    font-family: "Calibri Light";
    font-size: 18px;
    text-align: left;
    padding: 1.5% 4% 1.5% 4%;
}
.hr{
    border: none;
    background-color: red;
    color: red;
    height: 5px;
    margin: -0.5% 10% 0.5% 10%;
}
.text3{
    color: black;
    font-family: "Calibri Light";
    font-size: 18px;
    text-align: left;
    padding: 1.5% 4% 1.5% 4%;
}
.pic3
{
    width: 70%;
    border-radius: 10px 40px 10px 40px;
    margin: 0% 0% 0% 3%;
}
.pic4
{
    width: 70%;
    margin: 2% 0% 0% 25%;
    border-radius: 10px 40px 10px 40px;

}
.h2{
    color: black;
    font-family: "Calibri Light";
    font-size: 18px;
    text-align: center;
    line-height: 10px;
}
a.link{
    color: black;
}
.h3{
    color: black;
    font-family: "Calibri Light";
    font-size: 22px;
    text-align: center;
    line-height: 5px;
    margin-top: 30px;
}
.list
{
    color: black;
    font-family: "Calibri Light";
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    margin-top: 25px;
}
.hr2{
    border: none;
    background-color: red;
    color: red;
    height: 5px;
    margin: -0.5% 10% 5% 10%;
}

